
  #largemap {
    height: 400px;
    width: 100%
  }
  .leaflet-sidebar > .leaflet-control h1 {
    font-size: 24pt;
  }
  .leaflet-sidebar > .leaflet-control bg {
    font-size: 16pt;
  }
  .leaflet-sidebar > .leaflet-control it {
    font-size: 12pt;
    color: #252138;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
  }
  .leaflet-sidebar > .leaflet-control a {
    color: #97DBB6;
  }
  .leaflet-sidebar > .leaflet-control hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(151, 219, 182, 0.4);
    margin: 1em 0;
    padding: 0;
  }
  .custom-popup .leaflet-popup-content-wrapper {
    background: rgba(70, 145, 158, 0.7);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.1);
  }
  .custom-popup .leaflet-popup-tip-container {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  .custom-popup .leaflet-popup-tip {
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: -8px auto 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: rgba(70, 145, 158, 0.7);
  }
